<!--<div><flash-messages></flash-messages></div>-->
<div *ngIf="task">
  <!--<h5> {{ task.description }} Details</h5>-->
  <div *ngIf="!editing">
    <h5>Task Details</h5><br>
    <br>
    <div><span class='font-weight-bold'>Description: </span> {{ task.description }}</div>
    <br>
    <div><span class='font-weight-bold'>Start Date: </span>{{ task.startDate | date: 'yyyy-MM-dd' }}</div>
    <br>
    <div><span class='font-weight-bold'>End Date: </span>{{ task.endDate | date: 'yyyy-MM-dd' }}</div>
    <br>
    <div><span class='font-weight-bold'>Assignee: </span>{{ task.assignee }}</div>
    <br>
    <button class="btn btn-info" (click)="setEditMode(true)">Edit Task</button>
    <!--<button type="button" (click)="deleteTask()">Delete this Task</button>-->
    <a class="btn btn-info" href="/#/">Back to Task List</a>
  </div>
</div>

<div *ngIf="editing">
  <h5> Edit Task</h5><br>
  <h6>Go to <a href="/admin">Admin</a> menu to update dates or delete a task.</h6>
  <br>
  <form #form="ngForm" (ngSubmit)="updateTask(form.value)">
    <div class="form-group">
          <label for="description" class='font-weight-bold'>Description:</label>
          <input #description name="description" class="form-control" [ngModel]="task.description">
          <br />
          <!--
          <label for="startDate">Start Date:</label>
          <input #startdate type="date" name="startDate" class="form-control" [ngModel]="task.startDate">
          <br />
          <label for="endDate">End Date:</label>
          <input #enddate type="date" name="endDate" class="form-control" [ngModel]="task.endDate">
          <br />
          -->
          <label for="assignee" class='font-weight-bold'>Assignee:</label>
          <input name="assignee" class="form-control" [ngModel]="task.assignee">
    </div>
    <button class="btn btn-info" type="submit">Save</button>
    <button class="btn btn-info" (click)="setEditMode(false)">Cancel</button>
    <!--<button type="button" (click)="deleteTask()">Delete this Task</button>-->
  </form>
</div>

